# Superstore Sales Analysis & Data Visualisation
You will use a real-world Superstore dataset to complete this project. This project intends to evaluate the provided dataset, solve business problems on this dataset and mine information insights. The data for this project will also be shown so that patterns and various categories may be understood more clearly.
Project Description
This project will train you how to use SQL to analyze a real-world database, how to extract the most useful information from the dataset, how to pre-process the data using Python for improved performance, how to use a structured query language to retrieve useful information from the database, and how to visualize the data using the PowerBI tool.

# Data preprocessing 
In this Module you will be working on how to perform pre-processing of data and working on handling null values, deletion or transformation of irrelevant values, data type transformation, removing duplicates and data validations to get refined and cleaner data to perform further analysis.

In [1]:
import pandas as pd
#import mysql.connector as mysql
import pymysql
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
import warnings
warnings.filterwarnings('ignore')

Pre-processing the dataset: 
In this task you will be working on handling null values, deletion or transformation of irrelevant values, data type transformation, removing duplicates and data validations. Once you have completed this task, you will get a refined and a cleaner data set for further analysis.

Steps to perform Data Pre-processing: 

Step 1: Removing duplicate rows ( there could be duplicate rows excluding Row_ID column ).

Step 2: Removing rows for which few values are missing.

Step 3: Remove irrelevant values from each column if any. Validation of all values for a column( order date and ship date value must be in correct date format ). For each entry in dataset ship date >= order date

Step 4: Export the cleaned dataset as a .csv file: prefer UTF-8 encoding.

Step 5: Convert the pre-processed dataset into an SQL file and import it to table named "superstore" using credentials provided in "DataBase Info" Tab.

In [2]:
df = pd.read_csv(r'superstore_final_dataset.csv')
df.drop_duplicates(subset=df.columns.difference(['Row_ID']), inplace=True)
df.dropna(axis=0, subset=['Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode', 'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State', 'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category', 'Product_Name', 'Sales'], inplace=True)
df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12-06-2017,16-06-2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21-05-2017,28-05-2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [3]:
df.dtypes

Row_ID             int64
Order_ID          object
Order_Date        object
Ship_Date         object
Ship_Mode         object
Customer_ID       object
Customer_Name     object
Segment           object
Country           object
City              object
State             object
Postal_Code      float64
Region            object
Product_ID        object
Category          object
Sub_Category      object
Product_Name      object
Sales            float64
dtype: object

In [4]:
# Count the number of missing values in each row
missing_values_count = df.isnull().sum(axis=1)

# Remove rows with less than 2 missing values
df = df[missing_values_count <= 2]

df.dropna(subset=['Order_Date', 'Ship_Date', 'Product_Name'], inplace=True)

df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12-06-2017,16-06-2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21-05-2017,28-05-2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [5]:
# Removing irrelevant values
df = df[df['Category'].isin(['Furniture', 'Office Supplies', 'Technology'])]

df['Postal_Code'] = df['Postal_Code'].astype(str).str.extract('(\d{5})', expand=False)
df['Sales'] = df['Sales'].astype(float)
df['Order_Date'] = df['Order_Date'].astype('datetime64')
df['Ship_Date'] = df['Ship_Date'].astype('datetime64')
df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [6]:
print(df['Order_Date'].head())
print(df['Ship_Date'].head())

0   2017-08-11
1   2017-08-11
2   2017-12-06
3   2016-11-10
4   2016-11-10
Name: Order_Date, dtype: datetime64[ns]
0   2017-11-11
1   2017-11-11
2   2017-06-16
3   2016-10-18
4   2016-10-18
Name: Ship_Date, dtype: datetime64[ns]

In [7]:
# Validating Order_Date and Ship_Date
df['Order_Date'] = pd.to_datetime(df['Order_Date'], format='%Y/%m/%d', errors='ignore')
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'], format='%Y/%m/%d', errors='ignore')
mean_order_date = np.datetime64(df['Order_Date'].mean())
df['Order_Date'] = df['Order_Date'].fillna(mean_order_date)
mean_ship_date = np.datetime64(df['Ship_Date'].mean())
df['Ship_Date'] = df['Ship_Date'].fillna(mean_ship_date)
df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [8]:
df.dropna(axis=0, subset=['Order_Date', 'Ship_Date'], inplace = True)
#df = df[df['Ship_Date'] >= df['Order_Date']]
df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [9]:
df = df[(pd.to_datetime(df['Ship_Date']) >= pd.to_datetime(df['Order_Date'])) &
        (df['Sales'] >= 0)]
df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940
12,13,CA-2018-114412,2018-04-15,2018-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552
13,14,CA-2017-161389,2017-05-12,2017-10-12,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,Washington,98103,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.976
14,15,US-2016-118983,2016-11-22,2016-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9791,9792,CA-2015-127166,2015-05-21,2015-05-23,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070,Central,OFF-EN-10003134,Office Supplies,Envelopes,Staple envelope,56.064
9792,9793,CA-2015-127166,2015-05-21,2015-05-23,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070,Central,FUR-CH-10003396,Furniture,Chairs,Global Deluxe Steno Chair,107.772
9793,9794,CA-2015-127166,2015-05-21,2015-05-23,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070,Central,OFF-PA-10001560,Office Supplies,Paper,"Adams Telephone Message Books, 5 1/4” x 11”",4.832
9794,9795,CA-2015-127166,2015-05-21,2015-05-23,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070,Central,OFF-BI-10000977,Office Supplies,Binders,Ibico Plastic Spiral Binding Combs,18.240
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.798

In [10]:
df['Postal_Code'].fillna(df['Postal_Code'].mode()[0], inplace = True)
df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940
12,13,CA-2018-114412,2018-04-15,2018-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552
13,14,CA-2017-161389,2017-05-12,2017-10-12,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,Washington,98103,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.976
14,15,US-2016-118983,2016-11-22,2016-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9791,9792,CA-2015-127166,2015-05-21,2015-05-23,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070,Central,OFF-EN-10003134,Office Supplies,Envelopes,Staple envelope,56.064
9792,9793,CA-2015-127166,2015-05-21,2015-05-23,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070,Central,FUR-CH-10003396,Furniture,Chairs,Global Deluxe Steno Chair,107.772
9793,9794,CA-2015-127166,2015-05-21,2015-05-23,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070,Central,OFF-PA-10001560,Office Supplies,Paper,"Adams Telephone Message Books, 5 1/4” x 11”",4.832
9794,9795,CA-2015-127166,2015-05-21,2015-05-23,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070,Central,OFF-BI-10000977,Office Supplies,Binders,Ibico Plastic Spiral Binding Combs,18.240
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.798

In [11]:
df.to_csv('superstore_final_clean_dataset.csv', index=False, encoding='utf-8')

In [12]:

# Load the pre-processed dataset
df1 = pd.read_csv("superstore_final_clean_dataset.csv")
df1

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940
2,13,CA-2018-114412,2018-04-15,2018-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552
3,14,CA-2017-161389,2017-05-12,2017-10-12,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,Washington,98103,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.976
4,15,US-2016-118983,2016-11-22,2016-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8099,9792,CA-2015-127166,2015-05-21,2015-05-23,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070,Central,OFF-EN-10003134,Office Supplies,Envelopes,Staple envelope,56.064
8100,9793,CA-2015-127166,2015-05-21,2015-05-23,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070,Central,FUR-CH-10003396,Furniture,Chairs,Global Deluxe Steno Chair,107.772
8101,9794,CA-2015-127166,2015-05-21,2015-05-23,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070,Central,OFF-PA-10001560,Office Supplies,Paper,"Adams Telephone Message Books, 5 1/4” x 11”",4.832
8102,9795,CA-2015-127166,2015-05-21,2015-05-23,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070,Central,OFF-BI-10000977,Office Supplies,Binders,Ibico Plastic Spiral Binding Combs,18.240
8103,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.798

In [13]:
from dateutil.parser import parse
df['Order_Date'] = df['Order_Date'].apply(lambda x: parse(str(x)) if not pd.isna(x) else pd.NaT)
df['Ship_Date'] = df['Ship_Date'].apply(lambda x: parse(str(x)) if not pd.isna(x) else pd.NaT)

In [14]:
df1['Order_Date'].fillna('0000-00-00', inplace=True)
df1['Ship_Date'].fillna('0000-00-00', inplace=True)

In [15]:
df1.isnull().sum()

Row_ID           0
Order_ID         0
Order_Date       0
Ship_Date        0
Ship_Mode        0
Customer_ID      0
Customer_Name    0
Segment          0
Country          0
City             0
State            0
Postal_Code      0
Region           0
Product_ID       0
Category         0
Sub_Category     0
Product_Name     0
Sales            0
dtype: int64

In [16]:
# Connect to the database
host = "localhost"
database = "datasceince"
user = "root"
password = "password"

db = pymysql.connect(host = "localhost", 
                  database = "datasceince", 
                  user = "root",
                  password = "password")

cursor = db.cursor()

# Create the "superstore" table
cursor.execute("DROP TABLE IF EXISTS superstore_final_dataset")
cursor.execute("""
    CREATE TABLE superstore_final_dataset (
        Row_ID INT NOT NULL,
        Order_ID VARCHAR(255),
        Order_Date DATE,
        Ship_Date DATE,
        Ship_Mode VARCHAR(255),
        Customer_ID VARCHAR(255),
        Customer_Name VARCHAR(255),
        Segment VARCHAR(255),
        Country VARCHAR(255),
        City VARCHAR(255),
        State VARCHAR(255),
        Postal_Code VARCHAR(255),
        Region VARCHAR(255),
        Product_ID VARCHAR(255),
        Category VARCHAR(255),
        Sub_Category VARCHAR(255),
        Product_Name VARCHAR(255),
        Sales FLOAT
    )
""")

# Insert the data into the "superstore" table
for row in df1.itertuples():
    cursor.execute("""
        INSERT INTO superstore_final_dataset (
            Row_ID,
            Order_ID,
            Order_Date,
            Ship_Date,
            Ship_Mode,
            Customer_ID,
            Customer_Name,
            Segment,
            Country,
            City,
            State,
            Postal_Code,
            Region,
            Product_ID,
            Category,
            Sub_Category,
            Product_Name,
            Sales
        )
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, row[1:])

# Commit the changes and close the database connection
db.commit()
print("Data successfully inserted into the 'superstore_final_dataset' table!")
db.close()
#print(df.head())

Data successfully inserted into the 'superstore_final_dataset' table!

In [53]:
# import necessary modules
import mysql.connector

# establish a connection with the database
connection = pymysql.connect(
    host="localhost",
    user="root",
    password="password",
    database="datasceince"
)

# create a cursor object
cursor = connection.cursor()

# define the query
query = """
    SELECT COUNT(*) AS TotalOrders, 
           SUM(CASE WHEN Order_Date = Ship_Date THEN 1 ELSE 0 END) AS SameDayOrders,
           100 * SUM(CASE WHEN Order_Date = Ship_Date THEN 1 ELSE 0 END) / COUNT(*) AS SameDayPercentage
    FROM superstore_final_dataset;
"""

# execute the query and catch any potential interface errors
try:
    cursor.execute(query)
    result = cursor.fetchone()
    total_orders = result[0]
    same_day_orders = result[1]
    same_day_percentage = result[2]

    if same_day_percentage is None:
        print("No same day orders found.")
    else:
        print(f"{same_day_percentage:.2f}% of {total_orders} total orders were shipped on the same date.")

except mysql.connector.Error as error:
    print(f"Error: {error}")
#finally:
    # close the cursor and database connection
 #   cursor.close()
   # connection.close()

6.34% of 8104 total orders were shipped on the same date.

Write an SQL query to solve the given problem statement.
What percentage of total orders were shipped on the same date?

In [54]:
query = """
    SELECT COUNT(*) AS TotalOrders, 
           SUM(CASE WHEN Order_Date = Ship_Date THEN 1 ELSE 0 END) AS SameDayOrders,
           100 * SUM(CASE WHEN Order_Date = Ship_Date THEN 1 ELSE 0 END) / COUNT(*) AS SameDayPercentage
    FROM superstore_final_dataset;
"""
try:
    cursor.execute(query)
    result = cursor.fetchone()

    # Print the result
    total_orders = result[0]
    same_day_orders = result[1]
    same_day_percentage = result[2]

#print(f"{same_day_percentage:.2f}% of {total_orders} total orders were shipped on the same date.")

    if same_day_percentage is None:
        print("No same day orders found.")
    else:
        print(f"{same_day_percentage:.2f}% of {total_orders} total orders were shipped on the same date.")
    
except mysql.connector.Error as error:
    print(f"Error: {error}")
#finally:
    # close the cursor and database connection
  #  cursor.close()

6.34% of 8104 total orders were shipped on the same date.

Name top 3 customers with highest total value of orders.Write an SQL query to solve the given problem statement.

In [55]:
query = """
    SELECT Customer_Name, SUM(Sales) AS TotalSales
    FROM superstore_final_dataset
    GROUP BY Customer_Name
    ORDER BY TotalSales DESC
    LIMIT 3;
"""
try:
    cursor.execute(query)
    results = cursor.fetchall()

# Print the results
     
    print("Top 3 customers with highest total value of orders:")
     
      
    
    for row in results:
            customer_name = row[0]
            total_sales = row[1]
            print(f"{customer_name}: ${total_sales:.2f}")
except mysql.connector.Error as error:
    print(f"Error: {error}")
#inally:
    # close the cursor and database connection
#   cursor.close()

Top 3 customers with highest total value of orders:
Sean Miller: $24516.60
Tamara Chand: $19044.91
Raymond Buch: $15056.85

Write an SQL query to solve the given problem statement.
Find the top 5 items with the highest average sales per day.

In [76]:
query = """
    SELECT Product_Name, AVG(Sales/(DATEDIFF(Ship_Date, Order_Date)+1)) AS AvgSalesPerDay
    FROM superstore_final_dataset
    GROUP BY Product_Name
    ORDER BY AvgSalesPerDay DESC
    LIMIT 5;
"""
try:
    
    cursor.execute(query)
    results = cursor.fetchall()

# Print the results

       
    print("Top 5 items with the highest average sales per day:")
    
    
    
    for row in results:
            product_name = row[0]
            avg_sales_per_day = row[1]
            print(f"{product_name}: ${avg_sales_per_day:.2f}/day")
except mysql.connector.Error as error:
    print(f"Error: {error}")
#finally:
    # close the cursor and database connection
#    cursor.close()

Top 5 items with the highest average sales per day:
Cubify CubeX 3D Printer Triple Head Print: $7999.98/day
Cisco TelePresence System EX90 Videoconferencing Unit: $3773.08/day
Canon imageCLASS 2200 Advanced Copier: $2382.43/day
Zebra ZM400 Thermal Label Printer: $2339.76/day
Okidata MB760 Printer: $1492.27/day

Write a query to find the average order value for each customer, and rank the customers by their average order value.

In [87]:
query = """
    SELECT Customer_Name, AVG(Sales) AS AvgOrderValue
    FROM superstore_final_dataset
    GROUP BY Customer_Name
    ORDER BY AvgOrderValue DESC;
"""
try:
    cursor.execute(query)
    results = cursor.fetchall()

# Print the results
     
    print("Customers ranked by their average order value:")
     
    for i, row in enumerate(results):
                customer_name = row[0]
                avg_order_value = row[1]
                print(f"{i+1}. {customer_name}: ${avg_order_value:.2f}")
except mysql.connector.Error as error:
    print(f"Error: {error}")
#finally:
    # close the cursor and database connection
#    cursor.close()

Customers ranked by their average order value:
1. Tom Ashbrook: $2301.29
2. Mitch Willingham: $1751.29
3. Sean Miller: $1751.19
4. Tamara Chand: $1731.36
5. Grant Thornton: $1558.54
6. Hunter Lopez: $1283.85
7. Bill Shonely: $1166.85
8. Cathy Hwang: $1127.98
9. Christopher Conant: $1102.64
10. Stefanie Holloman: $1048.20
11. Raymond Buch: $1003.79
12. Andy Reiter: $981.41
13. Sanjit Engle: $935.63
14. Jane Waco: $928.86
15. Tom Prescott: $921.73
16. Christopher Martinez: $895.40
17. Jocasta Rupert: $863.88
18. Yoseph Carroll: $776.95
19. Daniel Raglin: $773.56
20. Tom Boeckenhauer: $762.67
21. Becky Martin: $762.19
22. Corinna Mitchell: $736.31
23. John Murray: $735.18
24. Natalie Fritzler: $726.98
25. Adrian Barton: $723.68
26. Robert Dilbeck: $686.47
27. Todd Sumrall: $683.22
28. Sanjit Chand: $667.27
29. Katrina Willman: $642.42
30. Sarah Brown: $631.96
31. Caroline Jumper: $607.54
32. Amy Cox: $598.19
33. Peter McVee: $587.95
34. Rick Hansen: $585.31
35. Nick Crebassa: $584.52
36. Fred Hopkins: $581.60
37. Alex Avila: $576.56
38. Yana Sorensen: $568.66
39. Nora Preis: $554.82
40. Greg Maxwell: $550.00
41. Robert Marley: $543.55
42. Dianna Wilson: $542.14
43. Cathy Prescott: $531.29
44. Penelope Sewall: $526.43
45. Maria Etezadi: $522.34
46. Ken Lonsdale: $520.37
47. Kristen Hastings: $519.97
48. Justin Deggeller: $519.30
49. Karen Daniels: $517.65
50. Mark Cousins: $511.68
51. Alan Dominguez: $508.91
52. Pauline Chand: $505.85
53. Karen Ferguson: $498.17
54. Sean Christensen: $495.13
55. Sean Braxton: $487.00
56. Paul Knutson: $480.38
57. Linda Cazamias: $478.24
58. Kean Thornton: $477.31
59. Max Jones: $477.23
60. Peter Fuller: $476.99
61. Tamara Willingham: $475.82
62. Erica Smith: $467.21
63. Bill Eplett: $467.19
64. Grace Kelly: $464.09
65. Lindsay Castell: $463.80
66. Nathan Mautz: $461.38
67. Adam Bellavance: $454.57
68. Gene Hale: $453.75
69. Joseph Holt: $453.40
70. Darren Budd: $453.31
71. Bobby Elias: $452.29
72. Justin Hirsh: $451.28
73. Pamela Coakley: $450.13
74. Robert Waldorf: $449.00
75. Alan Hwang: $447.16
76. Bradley Drucker: $441.12
77. Eugene Barchas: $434.77
78. Olvera Toch: $434.41
79. Jim Kriz: $432.04
80. Fred Chung: $431.58
81. Clay Ludtke: $425.25
82. Thomas Boland: $424.69
83. Mary Zewe: $421.41
84. George Ashbrook: $419.93
85. Doug Jacobs: $419.55
86. Deborah Brumfield: $419.52
87. Dennis Pardue: $419.00
88. Gary Hwang: $417.28
89. Valerie Dominguez: $417.09
90. Juliana Krohn: $416.41
91. Christine Phan: $415.51
92. Dave Brooks: $415.15
93. Edward Hooks: $413.36
94. Deanra Eno: $409.40
95. Anthony Rawles: $406.50
96. Denny Joy: $402.50
97. Dana Kaydos: $402.48
98. Alejandro Savely: $401.78
99. Ricardo Sperren: $398.66
100. David Flashing: $398.42
101. Scot Coram: $397.45
102. Joe Elijah: $395.36
103. Harry Marie: $390.48
104. Bart Watters: $389.56
105. Laura Armstrong: $385.84
106. Jim Radford: $385.55
107. Justin Ellison: $385.32
108. Mitch Webber: $381.56
109. George Zrebassa: $381.36
110. Sara Luxemburg: $380.82
111. Carol Adams: $378.97
112. Harold Ryan: $374.91
113. Liz Willingham: $373.58
114. James Galang: $373.16
115. Helen Wasserman: $371.97
116. Ted Trevino: $368.64
117. Eleni McCrary: $366.72
118. Greg Tran: $365.19
119. Patrick OBrill: $364.94
120. Patricia Hirasaki: $364.82
121. Hunter Glantz: $362.64
122. Steven Roelle: $362.16
123. Charles McCrossin: $361.90
124. Lena Radford: $361.75
125. Sharelle Roach: $359.28
126. Clay Rozendal: $358.14
127. John Stevenson: $357.43
128. Scott Williamson: $354.09
129. Sample Company A: $353.97
130. Pete Kriz: $353.82
131. Gary McGarr: $352.27
132. Seth Vernon: $351.94
133. Paul MacIntyre: $351.35
134. Thea Hendricks: $347.38
135. Nicole Hansen: $346.88
136. Rose OBrian: $345.54
137. Jim Karlsson: $343.43
138. Thomas Seio: $343.26
139. Toby Gnade: $339.82
140. Craig Leslie: $338.30
141. Brenda Bowman: $338.29
142. Rick Huthwaite: $337.64
143. Jack Garza: $336.95
144. Giulietta Baptist: $336.34
145. Lauren Leatherbury: $334.96
146. Eva Jacobs: $332.09
147. Aaron Smayling: $331.66
148. Michelle Huthwaite: $331.46
149. Julia West: $330.87
150. Greg Matthias: $330.59
151. Lena Creighton: $330.56
152. Rick Reed: $330.23
153. Bill Stewart: $330.21
154. Ed Braxton: $329.91
155. Rick Wilson: $329.52
156. Noah Childs: $328.08
157. Alan Schoenberger: $327.75
158. Lindsay Williams: $327.45
159. Thea Hudgings: $326.97
160. Pierre Wener: $326.87
161. Victoria Wilson: $326.30
162. Eileen Kiefer: $325.87
163. Tracy Hopkins: $325.70
164. Dorothy Badders: $324.38
165. Mick Hernandez: $324.11
166. Paul Van Hugh: $318.75
167. Darrin Martin: $317.26
168. Dan Reichenbach: $316.64
169. Craig Reiter: $315.49
170. Heather Kirkland: $313.30
171. Philisse Overcash: $313.19
172. Amy Hunt: $311.92
173. Craig Carroll: $311.26
174. Shahid Shariari: $311.09
175. Gary Zandusky: $311.08
176. Keith Dawkins: $310.55
177. Maribeth Schnelling: $310.15
178. Mike Gockenbach: $310.10
179. Sandra Glassco: $309.69
180. Anthony Jacobs: $307.58
181. John Dryer: $307.48
182. Anna Gayman: $307.15
183. John Lee: $307.07
184. Craig Molinari: $306.50
185. Brian Dahlen: $303.79
186. Keith Herrera: $303.76
187. Christine Kargatis: $303.28
188. Toby Braunhardt: $302.19
189. Joel Eaton: $302.09
190. Emily Burns: $300.90
191. Brian Stugart: $298.92
192. Roland Schwarz: $297.13
193. Mark Hamilton: $297.04
194. Roger Barcio: $295.35
195. Theone Pippenger: $295.34
196. Ruben Ausman: $295.13
197. Dionis Lloyd: $294.94
198. Jim Epp: $290.15
199. Frank Preis: $289.05
200. Meg Tillman: $289.01
201. Joseph Airdo: $288.76
202. Giulietta Dortch: $287.67
203. Victoria Pisteka: $287.44
204. Alex Russell: $286.98
205. Jack OBriant: $285.83
206. Beth Thompson: $285.30
207. Anna Andreadi: $282.61
208. Sarah Foster: $281.71
209. Troy Staebel: $281.16
210. Katherine Murray: $281.01
211. Bradley Talbott: $280.50
212. Julia Barnett: $279.79
213. Brian Moss: $279.48
214. Joe Kamberova: $279.44
215. Edward Nazzal: $278.37
216. Julie Kriz: $276.30
217. Erica Bern: $273.88
218. Tony Molinari: $273.67
219. Michael Chen: $271.84
220. Zuschuss Carroll: $270.53
221. Ed Jacobs: $270.27
222. Thomas Brumley: $269.98
223. Mike Pelletier: $267.84
224. Michael Nguyen: $266.93
225. Toby Carlisle: $266.68
226. Emily Ducich: $266.46
227. Pauline Webber: $265.76
228. Annie Thurman: $265.04
229. David Philippe: $264.65
230. Philip Fox: $263.39
231. Naresj Patel: $263.32
232. Giulietta Weimer: $262.31
233. Ken Heidel: $262.18
234. Shaun Weien: $262.00
235. Arianne Irving: $260.88
236. Troy Blackwell: $260.84
237. Daniel Lacy: $260.00
238. Speros Goranitis: $259.91
239. Theresa Coyne: $259.57
240. Don Jones: $258.61
241. Magdelene Morse: $257.37
242. Georgia Rosenberg: $256.88
243. Tracy Blumstein: $254.40
244. Linda Southworth: $254.38
245. Eugene Moren: $254.29
246. Tonja Turnell: $253.43
247. Bill Donatelli: $252.35
248. Kelly Andreada: $252.25
249. Anne McFarland: $252.15
250. Steven Cartwright: $251.59
251. Dean percer: $251.49
252. Dianna Vittorini: $250.35
253. Beth Fritzler: $250.03
254. Elpida Rittenbach: $249.16
255. John Lucas: $248.07
256. Luke Foster: $245.66
257. Shahid Collister: $245.53
258. Brendan Sweed: $245.49
259. Frank Carlisle: $244.20
260. Trudy Schmidt: $243.26
261. Cassandra Brandow: $243.02
262. Steve Carroll: $242.51
263. Frank Hawley: $242.07
264. Charles Crestani: $242.01
265. Tanja Norvell: $241.18
266. Michelle Ellison: $241.16
267. Natalie DeCherney: $240.34
268. Pauline Johnson: $239.65
269. Liz Preis: $238.80
270. Jeremy Lonsdale: $237.55
271. Zuschuss Donatelli: $237.55
272. Justin Ritter: $237.27
273. Sue Ann Reed: $237.27
274. Russell Applegate: $236.97
275. Doug Bickford: $236.69
276. Maris LaWare: $236.25
277. Maureen Gastineau: $235.02
278. Irene Maddox: $234.78
279. Liz Carlisle: $232.78
280. Rob Lucas: $232.66
281. Maya Herman: $231.54
282. Arthur Wiediger: $230.04
283. Phillip Flathmann: $230.02
284. Claire Gute: $229.76
285. Ivan Liston: $229.56
286. Duane Noonan: $229.15
287. Rick Bensley: $229.12
288. Kelly Lampkin: $228.02
289. Jeremy Pistek: $227.22
290. Stefania Perrino: $226.68
291. Corey Catlett: $225.35
292. Michelle Arnett: $225.34
293. Stewart Carmichael: $224.62
294. James Lanier: $224.50
295. Kean Takahito: $223.96
296. Christopher Schild: $223.68
297. Bill Overfelt: $223.56
298. Henry Goldwyn: $222.94
299. Frank Olsen: $222.64
300. Nora Paige: $222.24
301. Chad McGuire: $219.80
302. Sally Knutson: $219.06
303. Helen Abelman: $218.80
304. Carlos Daly: $218.76
305. Maribeth Yedwab: $217.24
306. Ben Ferrer: $216.09
307. Edward Becker: $215.46
308. Arthur Gainer: $214.80
309. Ann Blume: $214.11
310. Meg OConnel: $213.68
311. Tracy Zic: $212.77
312. Karen Bern: $212.13
313. Karen Carlisle: $212.10
314. Stuart Van: $211.85
315. Gary Mitchum: $210.93
316. Darren Koutras: $210.88
317. Charlotte Melton: $210.73
318. Liz Thompson: $209.73
319. Marc Crier: $209.69
320. Michael Dominguez: $208.58
321. Trudy Glocke: $207.47
322. Natalie Webber: $207.40
323. Resi Pölking: $206.12
324. Emily Phan: $205.10
325. Muhammed Yedwab: $204.99
326. Shirley Jackson: $204.38
327. Dave Kipp: $203.89
328. Jason Gross: $203.69
329. Emily Grady: $203.56
330. Victoria Brennan: $200.56
331. Cyra Reiten: $199.70
332. Michael Paige: $199.18
333. Alan Haines: $198.43
334. Max Ludwig: $198.42
335. Sam Craven: $197.82
336. Matthew Grinstein: $197.55
337. Raymond Messe: $197.32
338. Anthony Johnson: $196.61
339. Jonathan Doherty: $195.35
340. Rob Dowd: $194.89
341. Barry Gonzalez: $194.46
342. Rick Duston: $194.43
343. Nora Pelletier: $194.12
344. Dave Hallsten: $193.73
345. Tracy Poddar: $193.66
346. Valerie Takahito: $192.96
347. Sung Pak: $192.39
348. Brian DeCherney: $192.26
349. Patrick O Donnel: $191.79
350. Maureen Gnade: $191.75
351. Jessica Myrick: $191.68
352. Laurel Beltran: $191.59
353. Rob Haberlin: $189.61
354. Sam Zeldin: $189.51
355. Frank Atkinson: $189.50
356. Deirdre Greer: $189.33
357. Katherine Ducich: $188.90
358. Erin Smith: $188.17
359. Shaun Chance: $187.50
360. Claudia Bergmann: $187.41
361. Michael Moore: $187.30
362. Alyssa Tate: $187.10
363. Frank Merwin: $186.81
364. Sanjit Jacobs: $186.14
365. Becky Pak: $185.92
366. Monica Federle: $185.71
367. Dario Medina: $185.53
368. Dan Campbell: $185.34
369. Katherine Hughes: $184.98
370. Mary ORourke: $184.50
371. Alejandro Grove: $184.49
372. Kelly Collister: $184.43
373. Corey-Lock: $183.86
374. David Bremer: $183.46
375. Rob Williams: $182.72
376. Max Engle: $182.67
377. Liz MacKendrick: $182.66
378. Nick Radford: $182.10
379. Christy Brittain: $180.37
380. Carl Ludwig: $180.29
381. Andy Gerbode: $180.16
382. Laurel Elliston: $179.94
383. Candace McMahon: $179.74
384. Ralph Kennedy: $178.65
385. Marina Lichtenstein: $178.61
386. Maxwell Schwartz: $178.01
387. William Brown: $177.91
388. Jennifer Ferguson: $177.65
389. Michael Grace: $177.55
390. Janet Martin: $177.37
391. Jill Stevenson: $177.21
392. Vivek Grady: $177.01
393. Steve Chapman: $175.84
394. Bruce Stewart: $174.58
395. Janet Molinari: $174.40
396. Susan MacKendrick: $173.84
397. Vivek Sundaresam: $173.75
398. Craig Carreira: $172.90
399. Fred McMath: $172.30
400. Patrick Ryan: $171.83
401. Neola Schneider: $171.72
402. Katharine Harms: $170.98
403. Roy Phan: $170.34
404. Michelle Moray: $170.17
405. Nathan Cano: $169.69
406. Barry Weirich: $169.68
407. Mike Vittorini: $169.47
408. Nicole Fjeld: $169.29
409. Jas OCarroll: $169.04
410. Mark Packer: $168.96
411. Bruce Degenhardt: $168.58
412. Randy Bradley: $168.03
413. Cathy Armstrong: $167.97
414. Debra Catini: $167.80
415. Eugene Hildebrand: $167.15
416. Tamara Manning: $166.45
417. Brooke Gillingham: $166.38
418. Christine Sundaresam: $166.06
419. Sheri Gordon: $165.85
420. Steve Nguyen: $165.72
421. Christina Anderson: $164.90
422. Henia Zydlo: $164.22
423. Ben Peterman: $164.08
424. Becky Castell: $163.99
425. Elizabeth Moffitt: $163.85
426. Nancy Lomonaco: $163.20
427. Ryan Akin: $162.98
428. Adam Hart: $162.52
429. Fred Harton: $162.23
430. Anthony O Donnel: $161.28
431. Tony Sayre: $160.23
432. Philip Brown: $160.21
433. Barry Pond: $160.20
434. David Kendrick: $159.57
435. Cindy Stewart: $158.75
436. Aaron Hawkins: $158.61
437. Ellis Ballard: $158.47
438. Katherine Nockton: $158.24
439. Dave Poirier: $158.21
440. Paul Prost: $157.97
441. Mike Caudle: $156.90
442. Lisa Ryan: $156.61
443. Ralph Arnett: $156.47
444. Cynthia Arntzen: $156.06
445. John Castell: $155.74
446. Eric Murdock: $155.62
447. Dennis Kane: $155.53
448. Chris Cortes: $155.23
449. Darrin Van Huff: $155.05
450. Evan Minnotte: $154.91
451. Richard Bierner: $154.68
452. Ross Baird: $154.11
453. Neoma Murray: $154.02
454. Ralph Ritter: $153.98
455. Stephanie Phelps: $153.76
456. Ann Chong: $153.58
457. Shahid Hopkins: $153.48
458. Lena Hernandez: $153.02
459. Carol Triggs: $152.15
460. Chad Sievert: $152.12
461. Chuck Clark: $151.06
462. Brosina Hoffman: $149.47
463. Ruben Dartt: $149.23
464. Matt Collister: $149.10
465. Christina VanderZanden: $149.07
466. Ashley Jarboe: $148.90
467. Quincy Jones: $148.48
468. Eric Barreto: $147.96
469. Angele Hood: $147.70
470. Aaron Bergman: $147.69
471. Helen Andreada: $147.67
472. Jill Fjeld: $147.64
473. Anna Häberlin: $147.34
474. Patrick Gardner: $147.01
475. Tim Taslimi: $146.50
476. Susan Vittorini: $146.42
477. Tom Stivers: $146.14
478. Stewart Visinsky: $145.99
479. Mick Brown: $145.64
480. Nat Carroll: $144.79
481. Chris McAfee: $144.33
482. Stephanie Ulpright: $144.19
483. Beth Paige: $144.13
484. Chad Cunningham: $143.94
485. Suzanne McNair: $143.70
486. Henry MacAllister: $143.49
487. Craig Yedwab: $142.96
488. Lindsay Shagiari: $142.67
489. Sarah Jordon: $141.89
490. Nick Zandusky: $141.48
491. Carlos Meador: $141.35
492. Adam Shillingsburg: $141.19
493. Carl Weiss: $140.96
494. Matt Connell: $140.19
495. Sonia Cooley: $140.12
496. Tony Chapman: $139.85
497. Joy Smith: $139.81
498. Daniel Byrd: $139.33
499. Kimberly Carter: $138.72
500. Logan Currie: $138.61
501. Brad Thomas: $138.40
502. Peter Bühler: $137.66
503. Barry Französisch: $137.55
504. Michael Kennedy: $135.43
505. Bart Pistole: $133.95
506. Dean Katz: $133.88
507. Laurel Workman: $133.87
508. Scott Cohen: $133.05
509. Nona Balk: $132.98
510. Parhena Norris: $132.90
511. Ken Dana: $132.54
512. Denise Monton: $131.93
513. Maureen Fritzler: $131.70
514. Cari Schnelling: $131.13
515. Maurice Satty: $130.90
516. Sibella Parks: $130.61
517. Nicole Brennan: $129.92
518. Christine Abelman: $129.27
519. Kunst Miller: $129.07
520. Art Ferguson: $128.31
521. Ben Wallace: $127.88
522. Benjamin Farhat: $127.46
523. Maribeth Dona: $127.36
524. Theresa Swint: $127.27
525. Trudy Brown: $127.26
526. Jack Lebron: $127.00
527. Bryan Spruell: $126.80
528. Matt Abelman: $126.45
529. Ken Black: $126.25
530. Dorris liebe: $125.93
531. Astrea Jones: $125.85
532. Barry Franz: $125.81
533. Sean O Donnel: $124.82
534. Bobby Odegard: $124.75
535. Paul Gonzalez: $124.34
536. Noel Staavos: $124.25
537. Gary Hansen: $124.22
538. Cynthia Delaney: $124.05
539. Sean Wendt: $123.97
540. Bruce Geld: $123.87
541. Mick Crebagga: $122.83
542. Annie Zypern: $121.86
543. Jay Fein: $121.46
544. David Smith: $121.37
545. Katrina Edelman: $121.11
546. Doug OConnell: $120.97
547. Damala Kotsonis: $120.64
548. David Wiener: $120.08
549. Adrian Hane: $120.01
550. Jeremy Ellison: $119.88
551. Shirley Daniels: $119.44
552. Erica Hernandez: $119.01
553. Kalyca Meade: $119.00
554. Corey Roper: $118.98
555. Bryan Davis: $117.62
556. Lisa DeCherney: $117.54
557. Marc Harrigan: $117.39
558. Darrin Sayre: $117.21
559. Duane Huffman: $117.07
560. Nat Gilpin: $116.85
561. Brian Derr: $116.53
562. Cyma Kinney: $116.41
563. Roland Fjeld: $116.18
564. Luke Weiss: $116.12
565. Julia Dunbar: $115.91
566. Odella Nelson: $115.70
567. Duane Benoit: $115.52
568. Evan Henry: $115.49
569. Bill Tyler: $114.54
570. Julie Prescott: $113.92
571. Maria Zettner: $113.56
572. John Grady: $112.58
573. Joni Blumstein: $112.57
574. Carlos Soltero: $112.54
575. Chloris Kastensmidt: $112.14
576. Jennifer Braxton: $111.98
577. Jonathan Howell: $111.95
578. Jennifer Patt: $111.28
579. Richard Eichhorn: $111.09
580. Dean Braden: $110.51
581. Jim Sink: $110.02
582. Melanie Seite: $109.93
583. Paul Stevenson: $109.92
584. Anna Chung: $109.55
585. Ken Brennan: $109.32
586. Benjamin Venier: $108.81
587. Frank Gastineau: $108.47
588. Pamela Stobb: $108.13
589. Cindy Chapman: $107.84
590. Jesus Ocampo: $106.73
591. Janet Lee: $106.66
592. Carol Darley: $106.63
593. Mathew Reese: $106.53
594. Art Foster: $106.34
595. Phillina Ober: $105.69
596. Erin Ashbrook: $105.49
597. Valerie Mitchum: $105.47
598. Mark Van Huff: $105.45
599. Joni Wasserman: $104.92
600. Matthew Clasen: $104.45
601. Vivek Gonzalez: $104.29
602. Pete Armstrong: $104.20
603. Eudokia Martin: $104.10
604. Matt Collins: $103.39
605. Erica Hackney: $103.24
606. Joy Bell-: $103.21
607. Patrick Jones: $103.19
608. Kristina Nunn: $103.01
609. Nathan Gelder: $102.80
610. Shirley Schmidt: $102.23
611. Allen Rosenblatt: $101.60
612. Andrew Gjertsen: $101.37
613. Katrina Bavinger: $100.98
614. Catherine Glotzbach: $100.50
615. Clytie Kelty: $100.28
616. Jamie Frazer: $99.44
617. Jim Mitchum: $98.90
618. Michael Stewart: $98.39
619. Tiffany House: $97.27
620. Russell DAscenzo: $97.09
621. Roy Collins: $96.64
622. Toby Ritter: $96.56
623. Luke Schmidt: $96.22
624. Sally Hughsby: $96.02
625. Jason Klamczynski: $95.95
626. Larry Hughes: $95.81
627. Bryan Mills: $95.63
628. Tamara Dahlen: $95.56
629. Herbert Flentye: $95.54
630. Julie Creighton: $95.40
631. Kelly Williams: $94.97
632. Steven Ward: $94.84
633. Harold Engle: $94.43
634. Kean Nguyen: $94.43
635. Roy Französisch: $93.89
636. Mike Kennedy: $93.78
637. Jay Kimmel: $93.58
638. Barry Blumstein: $93.04
639. Christina DeMoss: $92.74
640. Chris Selesnick: $92.16
641. Cynthia Voltz: $91.93
642. Chuck Sachs: $91.77
643. Sung Shariari: $91.55
644. Denny Blanton: $91.17
645. Ross DeVincentis: $91.03
646. Scot Wooten: $90.91
647. Arthur Prichep: $90.59
648. Lynn Smith: $90.43
649. Andrew Allen: $90.36
650. Harry Greene: $89.47
651. Dorothy Wardle: $88.30
652. Harold Pawlan: $86.97
653. Dennis Bolton: $86.89
654. Aimee Bixby: $86.52
655. Bobby Trafton: $86.27
656. Lena Cacioppo: $86.02
657. Bradley Nguyen: $85.84
658. Delfina Latchford: $85.78
659. Maria Bertelson: $85.55
660. Liz Pelletier: $84.07
661. Skye Norling: $83.55
662. Roger Demir: $82.04
663. Ted Butterfield: $81.96
664. Denise Leinenbach: $81.80
665. Ryan Crowe: $81.58
666. Toby Swindell: $81.23
667. Anthony Witt: $81.17
668. Greg Guthrie: $81.07
669. Brendan Murry: $80.82
670. Thomas Thornton: $79.94
671. Rachel Payne: $79.55
672. Justin MacKendrick: $79.37
673. Logan Haushalter: $77.23
674. Vicky Freymann: $77.09
675. Neil Ducich: $76.75
676. Denny Ordway: $76.42
677. Xylona Preis: $75.47
678. Brad Eason: $74.80
679. Lori Olson: $74.55
680. Allen Armold: $74.26
681. Tracy Collins: $74.26
682. Patrick Bzostek: $74.04
683. Erin Creighton: $73.68
684. Alex Grayson: $73.44
685. Jeremy Farry: $72.65
686. Filia McAdams: $72.45
687. Jason Fortune-: $69.30
688. Stuart Calhoun: $69.22
689. Gene McClure: $69.19
690. Michelle Tran: $68.78
691. Alice McCarthy: $68.42
692. Karl Braun: $68.14
693. MaryBeth Skach: $67.95
694. Muhammed MacIntyre: $66.21
695. Tim Brockman: $65.80
696. Alejandro Ballentine: $65.32
697. Joel Jenkins: $65.00
698. Todd Boyes: $64.18
699. Larry Tron: $64.15
700. Hallie Redmond: $63.30
701. Saphhira Shifley: $63.05
702. Phillip Breyer: $62.81
703. Michael Granlund: $62.71
704. Ivan Gibson: $62.41
705. Ed Ludwig: $62.14
706. Lycoris Saunders: $61.48
707. Alan Shonely: $61.35
708. Sandra Flanagan: $60.96
709. Jamie Kunitz: $60.44
710. George Bell: $60.42
711. Heather Jas: $59.68
712. Darren Powers: $59.47
713. Rob Beeghly: $58.73
714. Joni Sundaresam: $58.65
715. Neil Knudson: $57.82
716. Alyssa Crouse: $57.58
717. Randy Ferguson: $57.17
718. Brendan Dodson: $56.19
719. Guy Armstrong: $54.85
720. Anne Pryor: $54.59
721. Khloe Miller: $54.33

Give the name of customers who ordered highest and lowest orders from each city.

In [90]:
query = """
          SELECT s.City, s.Customer_Name, SUM(s.Sales) AS TotalSales
          FROM superstore_final_dataset s
          INNER JOIN (
              SELECT City, MAX(Sales) AS MaxSales, MIN(Sales) AS MinSales
              FROM superstore_final_dataset
              GROUP BY City
              ) t ON s.City = t.City AND (s.Sales = t.MaxSales OR s.Sales = t.MinSales)
           GROUP BY s.City, s.Customer_Name
"""
try:
    cursor.execute(query)
    results = cursor.fetchall()

# Print the results
    
    print("Customers who ordered highest and lowest orders from each city:")

    for row in results:
            city = row[0]
            customer_name = row[1]
            total_sales = row[2]
            print(f"{city}: {customer_name} (Total Sales: ${total_sales:.2f})")
except mysql.connector.Error as error:
    print(f"Error: {error}")
#finally:
    # close the cursor and database connection
#    cursor.close()

Customers who ordered highest and lowest orders from each city:
Henderson: Maria Etezadi (Total Sales: $2573.82)
Henderson: Thomas Boland (Total Sales: $5.32)
Concord: Denise Leinenbach (Total Sales: $3.10)
Seattle: Ivan Gibson (Total Sales: $1.34)
Fort Worth: Hunter Glantz (Total Sales: $1999.96)
Madison: Sonia Sunley (Total Sales: $1.81)
Madison: Resi Pölking (Total Sales: $2807.84)
West Jordan: Sanjit Chand (Total Sales: $97.98)
Fremont: Yoseph Carroll (Total Sales: $750.68)
Fremont: Rick Bensley (Total Sales: $15.92)
Philadelphia: Christopher Conant (Total Sales: $8399.98)
Philadelphia: Jas OCarroll (Total Sales: $0.85)
Orem: Stuart Van (Total Sales: $11.68)
Orem: Emily Burns (Total Sales: $1044.63)
Los Angeles: Karen Ferguson (Total Sales: $4158.91)
Los Angeles: Toby Swindell (Total Sales: $3.17)
Houston: Zuschuss Carroll (Total Sales: $0.44)
Houston: Sean Braxton (Total Sales: $3059.98)
Richardson: Gene Hale (Total Sales: $1288.46)
Melbourne: Erin Smith (Total Sales: $95.62)
Westland: Xylona Preis (Total Sales: $13.98)
Westland: Dennis Kane (Total Sales: $965.85)
Dover: Peter McVee (Total Sales: $2249.91)
New Albany: Darren Powers (Total Sales: $96.15)
New York City: Tom Ashbrook (Total Sales: $11199.97)
New York City: Becky Martin (Total Sales: $1.73)
Troy: Ted Butterfield (Total Sales: $1.68)
Chicago: Sue Ann Reed (Total Sales: $2735.95)
Gilbert: Peter Fuller (Total Sales: $9.57)
Gilbert: Brendan Sweed (Total Sales: $1113.02)
Springfield: Shahid Hopkins (Total Sales: $2.31)
Jackson: Andy Reiter (Total Sales: $5443.96)
Jackson: Keith Dawkins (Total Sales: $2.61)
Durham: Sara Luxemburg (Total Sales: $6.19)
Durham: Julie Creighton (Total Sales: $200.98)
Columbia: Pierre Wener (Total Sales: $2541.98)
Minneapolis: Sanjit Chand (Total Sales: $9462.89)
San Francisco: Rick Duston (Total Sales: $2.69)
San Francisco: Ken Lonsdale (Total Sales: $8187.65)
Saint Paul: Quincy Jones (Total Sales: $114.95)
Saint Paul: Elpida Rittenbach (Total Sales: $77.88)
Rochester: Sung Pak (Total Sales: $6.16)
Aurora: Eugene Hildebrand (Total Sales: $2.31)
Charlotte: John Lee (Total Sales: $2624.99)
Charlotte: Janet Martin (Total Sales: $3.30)
Orland Park: Pete Armstrong (Total Sales: $339.96)
Urbandale: Clay Ludtke (Total Sales: $103.20)
Columbus: Lena Hernandez (Total Sales: $2.50)
Bristol: Michael Paige (Total Sales: $2.81)
Bristol: Christine Abelman (Total Sales: $359.98)
Bloomington: Liz Thompson (Total Sales: $5.18)
Bloomington: Philip Fox (Total Sales: $617.70)
Phoenix: Maria Zettner (Total Sales: $1.41)
Phoenix: John Murray (Total Sales: $1879.96)
Roseville: Jesus Ocampo (Total Sales: $2.48)
Roseville: Philisse Overcash (Total Sales: $795.51)
Independence: Robert Dilbeck (Total Sales: $1577.94)
Independence: Sandra Glassco (Total Sales: $839.43)
Pasadena: Linda Cazamias (Total Sales: $1024.72)
Pasadena: Dorris liebe (Total Sales: $1.62)
Newark: Hunter Lopez (Total Sales: $10499.97)
Franklin: Sanjit Jacobs (Total Sales: $2.82)
Franklin: Justin Ellison (Total Sales: $1951.84)
Scottsdale: Anthony Jacobs (Total Sales: $307.78)
Scottsdale: Meg Tillman (Total Sales: $4.40)
Edmond: Nora Paige (Total Sales: $959.55)
Carlsbad: Alejandro Ballentine (Total Sales: $192.16)
Carlsbad: Jim Mitchum (Total Sales: $4.17)
San Antonio: Liz Thompson (Total Sales: $1.27)
San Antonio: Becky Martin (Total Sales: $8159.95)
Decatur: Ruben Ausman (Total Sales: $1215.92)
Monroe: Sean Miller (Total Sales: $7.97)
Grand Prairie: Sarah Jordon (Total Sales: $317.06)
Grand Prairie: Trudy Brown (Total Sales: $3.66)
Hamilton: Mark Hamilton (Total Sales: $190.85)
Hamilton: Cassandra Brandow (Total Sales: $6.05)
Westfield: Dean percer (Total Sales: $259.63)
Akron: Karl Braun (Total Sales: $2.29)
Akron: Ed Braxton (Total Sales: $665.41)
Denver: Linda Southworth (Total Sales: $1.87)
Denver: Russell Applegate (Total Sales: $1983.97)
Dallas: Amy Hunt (Total Sales: $1352.40)
Whittier: Laurel Elliston (Total Sales: $444.77)
Saginaw: Joseph Holt (Total Sales: $147.90)
Medina: Liz Carlisle (Total Sales: $19.24)
Medina: Victoria Wilson (Total Sales: $1188.00)
Dublin: Fred Harton (Total Sales: $3.80)
Dublin: Joni Blumstein (Total Sales: $479.99)
Lakeville: Greg Tran (Total Sales: $15.28)
Lakeville: Dianna Wilson (Total Sales: $2001.86)
Chapel Hill: Claudia Bergmann (Total Sales: $14.02)
Morristown: Annie Thurman (Total Sales: $2625.12)
Morristown: Paul Gonzalez (Total Sales: $7.56)
Cincinnati: Matt Collins (Total Sales: $285.55)
Cincinnati: Nathan Gelder (Total Sales: $2.62)
Inglewood: Dan Reichenbach (Total Sales: $879.98)
Inglewood: Barry Blumstein (Total Sales: $5.98)
Tamarac: Alyssa Tate (Total Sales: $3.44)
Tamarac: Alan Haines (Total Sales: $961.48)
Colorado Springs: Stefania Perrino (Total Sales: $1.94)
Colorado Springs: Craig Leslie (Total Sales: $1325.76)
Taylor: Ashley Jarboe (Total Sales: $301.96)
Taylor: Ken Brennan (Total Sales: $9.84)
Lakewood: Bill Shonely (Total Sales: $9099.93)
Lakewood: Dave Brooks (Total Sales: $3.76)
Arlington: Matt Collister (Total Sales: $2.52)
Long Beach: Tiffany House (Total Sales: $2.94)
Long Beach: Karen Ferguson (Total Sales: $2054.27)
Hesperia: Grace Kelly (Total Sales: $99.99)
Layton: Ken Lonsdale (Total Sales: $4.96)
Austin: Aaron Smayling (Total Sales: $1439.98)
Austin: Katrina Willman (Total Sales: $2.77)
Lowell: Rick Reed (Total Sales: $1325.85)
Manchester: Michael Kennedy (Total Sales: $1051.28)
Tucson: Arthur Gainer (Total Sales: $1023.94)
Des Moines: Lena Cacioppo (Total Sales: $6.48)
Des Moines: Jack Garza (Total Sales: $1799.97)
Peoria: Lori Olson (Total Sales: $1.68)
Peoria: Dennis Pardue (Total Sales: $359.06)
Warwick: Carol Adams (Total Sales: $1999.96)
Warwick: Saphhira Shifley (Total Sales: $12.96)
Miami: Christine Phan (Total Sales: $1345.48)
Miami: Karen Bern (Total Sales: $1.87)
Wilmington: Georgia Rosenberg (Total Sales: $1025.88)
Wilmington: Robert Waldorf (Total Sales: $3.28)
Huntington Beach: Harold Ryan (Total Sales: $2399.96)
Huntington Beach: Dean Katz (Total Sales: $3.38)
Richmond: Frank Merwin (Total Sales: $2.88)
Louisville: Sharelle Roach (Total Sales: $2549.99)
Lawrence: Ben Ferrer (Total Sales: $1199.98)
Lawrence: Fred McMath (Total Sales: $3.69)
Canton: Sam Zeldin (Total Sales: $501.81)
Canton: Janet Molinari (Total Sales: $28.40)
Gastonia: Ross Baird (Total Sales: $413.51)
Jacksonville: Sean Miller (Total Sales: $22638.48)
Jacksonville: Kean Nguyen (Total Sales: $1.17)
Detroit: Dionis Lloyd (Total Sales: $3.28)
Auburn: Anne McFarland (Total Sales: $900.08)
Auburn: Adrian Shami (Total Sales: $4.18)
Norman: Toby Braunhardt (Total Sales: $1287.45)
Norman: Ken Heidel (Total Sales: $63.88)
Park Ridge: Lena Hernandez (Total Sales: $143.86)
Park Ridge: Joni Sundaresam (Total Sales: $254.74)
Amarillo: Susan Gilcrest (Total Sales: $19.65)
Amarillo: Joel Eaton (Total Sales: $2453.43)
Lindenhurst: Maya Herman (Total Sales: $55.48)
San Diego: Clytie Kelty (Total Sales: $3.48)
Fayetteville: Barbara Fisher (Total Sales: $4.93)
Costa Mesa: Eric Hoffmann (Total Sales: $29.22)
Costa Mesa: Sanjit Chand (Total Sales: $255.76)
Atlanta: Christopher Martinez (Total Sales: $6357.69)
Gladstone: Lynn Smith (Total Sales: $164.34)
Great Falls: Eugene Moren (Total Sales: $6.10)
Great Falls: Alan Dominguez (Total Sales: $2999.95)
Lakeland: Jim Epp (Total Sales: $1127.69)
Green Bay: Bradley Drucker (Total Sales: $468.90)
Marysville: Sarah Foster (Total Sales: $8.82)
Salem: Sara Luxemburg (Total Sales: $2.22)
Salem: Max Engle (Total Sales: $701.96)
Grove City: Clytie Kelty (Total Sales: $123.59)
Warner Robins: Debra Catini (Total Sales: $41.86)
Warner Robins: Denny Joy (Total Sales: $392.94)
Vallejo: David Flashing (Total Sales: $14.45)
Vallejo: Rick Bensley (Total Sales: $1049.20)
Plainfield: Barry Pond (Total Sales: $563.40)
Plainfield: Eric Hoffmann (Total Sales: $5.58)
Sierra Vista: Tracy Blumstein (Total Sales: $14.37)
Sierra Vista: Barry Blumstein (Total Sales: $31.56)
Vancouver: Anthony Rawles (Total Sales: $330.80)
Cleveland: Darren Powers (Total Sales: $5.04)
Cleveland: Clay Ludtke (Total Sales: $1006.06)
Quincy: Frank Merwin (Total Sales: $258.90)
Tyler: Carol Darley (Total Sales: $185.68)
Burlington: Grant Thornton (Total Sales: $7999.98)
Waynesboro: Lauren Leatherbury (Total Sales: $1206.00)
Chester: Anna Andreadi (Total Sales: $853.93)
Chester: Jesus Ocampo (Total Sales: $2.70)
Palm Coast: Don Miller (Total Sales: $223.03)
Mount Vernon: Sibella Parks (Total Sales: $7.75)
Mount Vernon: Roland Schwarz (Total Sales: $307.98)
Hialeah: Ken Black (Total Sales: $1015.82)
Oceanside: Dianna Vittorini (Total Sales: $899.95)
Oceanside: Emily Grady (Total Sales: $6.30)
Naperville: Vivek Sundaresam (Total Sales: $602.65)
Evanston: Sarah Brown (Total Sales: $1439.97)
Evanston: Peter Bühler (Total Sales: $11.99)
Trenton: Matt Abelman (Total Sales: $549.99)
Trenton: Roland Fjeld (Total Sales: $2.88)
Cottage Grove: Debra Catini (Total Sales: $144.36)
Bossier City: Chris Selesnick (Total Sales: $652.38)
Saint Petersburg: Anthony Johnson (Total Sales: $310.88)
Lancaster: Mick Hernandez (Total Sales: $1169.69)
Asheville: Speros Goranitis (Total Sales: $15.92)
Asheville: Joe Kamberova (Total Sales: $1363.96)
Omaha: Juliana Krohn (Total Sales: $2479.96)
Omaha: Suzanne McNair (Total Sales: $5.04)
Edmonds: Zuschuss Carroll (Total Sales: $1310.07)
Santa Ana: Stewart Visinsky (Total Sales: $5.94)
Santa Ana: Pauline Johnson (Total Sales: $1399.93)
Milwaukee: Justin Deggeller (Total Sales: $1526.56)
Belleville: Toby Ritter (Total Sales: $239.97)
Florence: Katrina Willman (Total Sales: $3080.00)
Florence: Anne Pryor (Total Sales: $4.98)
Lorain: Jim Mitchum (Total Sales: $383.95)
Lorain: Alejandro Ballentine (Total Sales: $2.97)
Linden: Cyma Kinney (Total Sales: $115.36)
Salinas: Daniel Byrd (Total Sales: $148.26)
Salinas: Dave Poirier (Total Sales: $5.16)
New Rochelle: Magdelene Morse (Total Sales: $631.78)
Garland: Joni Sundaresam (Total Sales: $8.54)
Norwich: Sample Company A (Total Sales: $22.20)
Alexandria: Greg Maxwell (Total Sales: $4164.05)
Alexandria: Shirley Daniels (Total Sales: $12.42)
Toledo: Thea Hendricks (Total Sales: $1502.38)
Toledo: Theresa Swint (Total Sales: $1.45)
Farmington: Christina Anderson (Total Sales: $545.85)
Farmington: Anthony Witt (Total Sales: $12.88)
Riverside: Thomas Seio (Total Sales: $1039.73)
Riverside: Jack Lebron (Total Sales: $3.98)
Torrance: Fred Chung (Total Sales: $1640.70)
Torrance: Rob Williams (Total Sales: $6.10)
Mesa: Toby Gnade (Total Sales: $18.50)
Mesa: Susan Vittorini (Total Sales: $552.00)
Round Rock: Alex Avila (Total Sales: $3932.38)
Boca Raton: Maribeth Schnelling (Total Sales: $4.61)
San Jose: Helen Abelman (Total Sales: $360.38)
San Jose: Neola Schneider (Total Sales: $1.44)
Virginia Beach: Mitch Willingham (Total Sales: $2715.93)
Murrieta: Ryan Akin (Total Sales: $484.65)
Olympia: Jim Karlsson (Total Sales: $603.92)
Olympia: Philip Fox (Total Sales: $14.03)
Jefferson City: Ed Ludwig (Total Sales: $86.62)
Saint Peters: Robert Dilbeck (Total Sales: $697.16)
Brownsville: Joy Bell- (Total Sales: $327.73)
Brownsville: Charles McCrossin (Total Sales: $1.74)
Yonkers: Nathan Cano (Total Sales: $10.90)
Yonkers: Karen Daniels (Total Sales: $4899.93)
Oakland: Brenda Bowman (Total Sales: $1159.06)
Oakland: Craig Yedwab (Total Sales: $3.15)
Clinton: Dave Kipp (Total Sales: $4.77)
Clinton: Ken Heidel (Total Sales: $1259.93)
Encinitas: Darrin Martin (Total Sales: $305.50)
Roswell: Khloe Miller (Total Sales: $1.78)
Roswell: Nicole Hansen (Total Sales: $1245.86)
Jonesboro: Hunter Lopez (Total Sales: $1074.57)
Antioch: Greg Guthrie (Total Sales: $19.44)
Homestead: Art Ferguson (Total Sales: $2.94)
Homestead: Lena Radford (Total Sales: $85.22)
Lansing: Nat Carroll (Total Sales: $649.92)
Reno: Kelly Lampkin (Total Sales: $3.64)
Harrisonburg: Penelope Sewall (Total Sales: $2244.48)
Escondido: Larry Tron (Total Sales: $53.94)
Rockville: Joel Eaton (Total Sales: $179.97)
Coral Springs: Valerie Dominguez (Total Sales: $387.14)
Boynton Beach: Ann Steele (Total Sales: $4.61)
Boynton Beach: Patrick Gardner (Total Sales: $165.05)
Gulfport: Henry Goldwyn (Total Sales: $31.36)
Gulfport: Aaron Hawkins (Total Sales: $86.45)
Fresno: Nora Preis (Total Sales: $3610.85)
La Porte: Chris Cortes (Total Sales: $111.75)
Macon: John Castell (Total Sales: $149.56)
Cedar Rapids: Toby Ritter (Total Sales: $278.40)
Pueblo: Fred Chung (Total Sales: $3.41)
Pueblo: Justin Hirsh (Total Sales: $845.73)
Fairfield: Alan Dominguez (Total Sales: $897.15)
Fairfield: Kelly Lampkin (Total Sales: $4.91)
Deltona: Laurel Workman (Total Sales: $581.10)
Murray: Sarah Foster (Total Sales: $25.99)
Murray: James Galang (Total Sales: $191.82)
Middletown: Jim Radford (Total Sales: $552.56)
Pico Rivera: Sam Zeldin (Total Sales: $145.90)
Provo: Alan Schoenberger (Total Sales: $1303.72)
Pleasant Grove: Ken Heidel (Total Sales: $12.14)
Pleasant Grove: Valerie Dominguez (Total Sales: $1089.75)
Smyrna: Benjamin Venier (Total Sales: $643.14)
Smyrna: Theone Pippenger (Total Sales: $5.67)
Parma: Anna Chung (Total Sales: $183.37)
Parma: Shui Tom (Total Sales: $5.25)
Mobile: Pauline Johnson (Total Sales: $8.96)
Mobile: Mark Cousins (Total Sales: $3040.00)
New Bedford: Katherine Nockton (Total Sales: $128.85)
Glendale: Arianne Irving (Total Sales: $6.37)
Glendale: Kean Takahito (Total Sales: $933.54)
Niagara Falls: Nora Pelletier (Total Sales: $34.99)
Thomasville: Karl Braun (Total Sales: $99.16)
Westminster: Toby Carlisle (Total Sales: $4.45)
Coppell: John Dryer (Total Sales: $10.19)
North Las Vegas: Dennis Pardue (Total Sales: $4535.98)
North Las Vegas: Ivan Liston (Total Sales: $6.48)
Everett: Giulietta Dortch (Total Sales: $3.86)
Watertown: Chris McAfee (Total Sales: $18.54)
Watertown: Pamela Coakley (Total Sales: $1573.49)
Appleton: Joni Sundaresam (Total Sales: $21.56)
Allen: Anna Gayman (Total Sales: $244.01)
Allen: Anthony Witt (Total Sales: $8.78)
El Paso: Michael Grace (Total Sales: $4.43)
Grapevine: Muhammed Yedwab (Total Sales: $41.53)
Carrollton: Patrick Gardner (Total Sales: $310.39)
Carrollton: Joe Kamberova (Total Sales: $2.51)
Lafayette: Tamara Chand (Total Sales: $17499.95)
Lafayette: Bruce Degenhardt (Total Sales: $3.89)
Plano: Lena Creighton (Total Sales: $974.99)
Plano: Sam Craven (Total Sales: $3.39)
Suffolk: Ricardo Sperren (Total Sales: $872.94)
Suffolk: Max Ludwig (Total Sales: $4.13)
Indianapolis: Adrian Barton (Total Sales: $1107.66)
Bayonne: Phillina Ober (Total Sales: $119.44)
Greensboro: Erica Bern (Total Sales: $4.09)
Greensboro: Kelly Lampkin (Total Sales: $1359.96)
Kenosha: Dana Kaydos (Total Sales: $875.91)
Olathe: Brad Eason (Total Sales: $107.94)
Redmond: David Wiener (Total Sales: $177.23)
Redmond: Sue Ann Reed (Total Sales: $11.84)
Raleigh: Cathy Hwang (Total Sales: $1127.98)
Muskogee: Julie Prescott (Total Sales: $6.56)
Muskogee: Sara Luxemburg (Total Sales: $1439.92)
Meriden: Ricardo Sperren (Total Sales: $1137.91)
Bowling Green: Neoma Murray (Total Sales: $5.55)
South Bend: Ralph Kennedy (Total Sales: $857.60)
Spokane: Dionis Lloyd (Total Sales: $837.60)
Keller: Dan Lawera (Total Sales: $6.00)
Port Orange: Jeremy Pistek (Total Sales: $7.82)
Medford: Ken Black (Total Sales: $9.76)
Medford: Carol Darley (Total Sales: $24.78)
Charlottesville: Tamara Willingham (Total Sales: $67.96)
Charlottesville: Adam Shillingsburg (Total Sales: $34.65)
Missoula: Jas OCarroll (Total Sales: $487.98)
Apopka: Laurel Beltran (Total Sales: $671.54)
Apopka: Roy Phan (Total Sales: $2.95)
Reading: Tom Stivers (Total Sales: $521.96)
Broomfield: Joe Elijah (Total Sales: $671.62)
Tulsa: Clay Ludtke (Total Sales: $1805.88)
Tulsa: Andrew Roberts (Total Sales: $10.80)
Montgomery: Jane Waco (Total Sales: $10.16)
Montgomery: Alan Schoenberger (Total Sales: $1394.95)
Oklahoma City: Cynthia Delaney (Total Sales: $5.50)
Chesapeake: Michael Moore (Total Sales: $1652.94)
Chesapeake: Neil Ducich (Total Sales: $15.00)
Johnson City: Brosina Hoffman (Total Sales: $2.51)
Johnson City: Jamie Frazer (Total Sales: $333.06)
San Bernardino: Berenike Kampe (Total Sales: $14.62)
Providence: Daniel Raglin (Total Sales: $5399.91)
Providence: Brad Eason (Total Sales: $8.40)
Leominster: Guy Phonely (Total Sales: $115.85)
Bozeman: Carl Weiss (Total Sales: $43.66)
Perth Amboy: Gary Hansen (Total Sales: $11.76)
Perth Amboy: Matt Collister (Total Sales: $597.00)
Pomona: Zuschuss Carroll (Total Sales: $710.83)
Ontario: Kelly Andreada (Total Sales: $283.92)
Rancho Cucamonga: Trudy Schmidt (Total Sales: $152.94)
Rancho Cucamonga: Maribeth Yedwab (Total Sales: $5.76)
Moorhead: Cindy Chapman (Total Sales: $63.96)
Moorhead: Mark Packer (Total Sales: $479.90)
Mesquite: Saphhira Shifley (Total Sales: $34.18)
Mesquite: Henry Goldwyn (Total Sales: $0.88)
Redlands: Sandra Glassco (Total Sales: $1300.88)
Stockton: Alex Grayson (Total Sales: $12.96)
Sunnyvale: Jennifer Braxton (Total Sales: $215.98)
York: Theresa Swint (Total Sales: $460.15)
College Station: Michael Moore (Total Sales: $28.67)
College Station: Art Ferguson (Total Sales: $233.06)
Saint Louis: Richard Bierner (Total Sales: $111.79)
Manteca: Tanja Norvell (Total Sales: $15.28)
Manteca: Karen Ferguson (Total Sales: $314.55)
Laredo: Stefania Perrino (Total Sales: $331.06)
Kent: John Huston (Total Sales: $122.00)
San Angelo: Linda Cazamias (Total Sales: $305.31)
Salt Lake City: Joy Bell- (Total Sales: $19.44)
Huntsville: Craig Molinari (Total Sales: $0.90)
Huntsville: Karen Carlisle (Total Sales: $1319.96)
Knoxville: Dean percer (Total Sales: $2314.12)
Knoxville: David Wiener (Total Sales: $4.37)
Little Rock: Chris McAfee (Total Sales: $11.16)
Little Rock: Liz Thompson (Total Sales: $881.93)
Lincoln Park: Dario Medina (Total Sales: $220.31)
Marion: David Bremer (Total Sales: $1548.99)
Marion: Sung Shariari (Total Sales: $2.62)
Littleton: Bobby Trafton (Total Sales: $72.29)
Bangor: Laura Armstrong (Total Sales: $437.85)
New Castle: Sarah Foster (Total Sales: $84.61)
Midland: Sam Craven (Total Sales: $567.84)
Sioux Falls: Victoria Wilson (Total Sales: $2.97)
Sioux Falls: Elizabeth Moffitt (Total Sales: $416.32)
Fort Collins: Helen Abelman (Total Sales: $582.30)
Sacramento: Ben Ferrer (Total Sales: $9.98)
Thousand Oaks: Dionis Lloyd (Total Sales: $152.65)
Thousand Oaks: Ruben Dartt (Total Sales: $15.98)
Malden: Anne Pryor (Total Sales: $188.70)
Holyoke: Paul Prost (Total Sales: $301.96)
Sparks: Jennifer Ferguson (Total Sales: $79.36)
Sparks: Linda Cazamias (Total Sales: $2396.40)
Coachella: Matt Collister (Total Sales: $163.55)
Elmhurst: Vicky Freymann (Total Sales: $634.12)
Elmhurst: Clay Rozendal (Total Sales: $9.66)
Passaic: Art Ferguson (Total Sales: $689.72)
North Charleston: Justin Ellison (Total Sales: $14.76)
North Charleston: Christopher Martinez (Total Sales: $269.49)
Newport News: Frank Hawley (Total Sales: $594.16)
Jamestown: John Murray (Total Sales: $4548.81)
Mishawaka: Rick Duston (Total Sales: $128.40)
Mishawaka: Sonia Cooley (Total Sales: $647.84)
Skokie: Dave Brooks (Total Sales: $266.35)
Skokie: Luke Schmidt (Total Sales: $2.30)
Fort Lauderdale: Brenda Bowman (Total Sales: $1158.12)
Fort Lauderdale: Darren Powers (Total Sales: $7.76)
La Quinta: Lori Olson (Total Sales: $46.32)
Tallahassee: Patrick OBrill (Total Sales: $4370.68)
Nashville: Annie Thurman (Total Sales: $3.49)
Bellingham: Sarah Foster (Total Sales: $2690.74)
Woodstock: Brooke Gillingham (Total Sales: $845.49)
Woodstock: Valerie Mitchum (Total Sales: $2.91)
Haltom City: Chris Selesnick (Total Sales: $6.61)
Summerville: Roland Schwarz (Total Sales: $406.94)
Hot Springs: Liz MacKendrick (Total Sales: $29.99)
Baltimore: Janet Martin (Total Sales: $908.82)
Baltimore: Anthony Jacobs (Total Sales: $3.76)
Cary: Odella Nelson (Total Sales: $8.38)
Las Cruces: Denise Leinenbach (Total Sales: $41.37)
Las Cruces: Joe Elijah (Total Sales: $49.12)
Hoover: Carol Adams (Total Sales: $7.16)
Hoover: Edward Becker (Total Sales: $477.24)
Frisco: Anne Pryor (Total Sales: $27.17)
Vacaville: Tamara Manning (Total Sales: $423.28)

What is the most demanded sub-category in the west region?

In [91]:
query = """
    SELECT Sub_Category, COUNT(*) AS TotalOrders
    FROM superstore_final_dataset
    WHERE Region = 'West'
    GROUP BY Sub_Category
    ORDER BY TotalOrders DESC
    LIMIT 1
"""
cursor.execute(query)
result = cursor.fetchone()

# Print the result
if result:
    sub_category = result[0]
    total_orders = result[1]
    print(f"The most demanded sub-category in the West region is {sub_category} with {total_orders} total orders.")
else:
    print("No data found.")

The most demanded sub-category in the West region is Binders with 384 total orders.

Which order has the highest number of items? And which order has the highest cumulative value?

In [95]:
query1 ="""
         SELECT Order_ID, SUM(Product_ID) AS Total_Items
         FROM superstore_final_dataset
         GROUP BY Order_ID
         ORDER BY Total_Items DESC
         LIMIT 1;
"""

cursor.execute(query1)
result = cursor.fetchone()

# Print the result
if result:
    Order_ID = result[0]
    total_items = result[1]
    print(f"The highest number of items is {Order_ID} with {total_items} total orders.")
else:
    print("No data found.")
        
query2 ="""       
        SELECT Order_ID, SUM(Sales) AS Total_Sales
        FROM superstore_final_dataset
        GROUP BY Order_ID
        ORDER BY Total_Sales DESC
        LIMIT 1;
""" 
cursor.execute(query2)
result = cursor.fetchone()

# Print the result
if result:
    Order_ID = result[0]
    total_Sales = result[1]
    print(f"The highest commulative value is {Order_ID} with {total_Sales} total orders.")
else:
    print("No data found.")

The highest number of items is CA-2017-152156 with 0.0 total orders.
The highest commulative value is CA-2015-145317 with 23661.22845363617 total orders.

Which order has the highest cumulative value?

In [97]:
query="""
SELECT Order_ID, SUM(Sales) AS Total_Sales
FROM superstore_final_dataset
GROUP BY Order_ID
ORDER BY Total_Sales DESC
LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchone()

# Print the result
if result:
    Order_ID = result[0]
    total_Sales = result[1]
    print(f"The highest commulative value is {Order_ID} with {total_Sales} total orders.")
else:
    print("No data found.")

The highest commulative value is CA-2015-145317 with 23661.22845363617 total orders.

Which segment’s order is more likely to be shipped via first class?

In [98]:
query="""
SELECT Segment, COUNT(*) AS First_Class_Count
FROM superstore_final_dataset
WHERE Ship_Mode = 'First Class'
GROUP BY Segment
ORDER BY First_Class_Count DESC;
"""
cursor.execute(query)
result = cursor.fetchone()

# Print the result
if result:
    Segment = result[0]
    First_Class_Count = result[1]
    print(f"The  {Segment} segment’s order is more likely to be shipped  Via {First_Class_Count} First class.")
else:
    print("No data found.")

The  Consumer segment’s order is more likely to be shipped  Via 685 First class.

Which city is least contributing to total revenue?

In [99]:
query="""
SELECT City, SUM(Sales) AS Total_Sales
FROM superstore_final_dataset
GROUP BY City
ORDER BY Total_Sales ASC
LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchone()

# Print the result
if result:
    City = result[0]
    total_Sales = result[1]
    print(f"The least contributing city is {City} to {total_Sales} total revenue.")
else:
    print("No data found.")

The least contributing city is Abilene to 1.3919999599456787 total revenue.

What is the average time for orders to get shipped after order is placed?

In [106]:
query="""
SELECT AVG(DATEDIFF(Ship_Date, Order_Date)) AS Average_Shipping_Time
FROM superstore_final_dataset;
"""
cursor.execute(query)
result = cursor.fetchone()

# Print the result
if result:
    #Order_ID = result[0]
    Avg_Shipping_time = result[0]
    print(f"The orders to get shipped after order is placed with ${Avg_Shipping_time:.2f} average time.")
else:
    print("No data found.")

The orders to get shipped after order is placed with $41.73 average time.

Which segment places the highest number of orders from each state and which segment places the largest individual orders from each state?

In [111]:
query1="""
SELECT State, Segment, COUNT(*) AS Order_Count
FROM superstore_final_dataset 
GROUP BY State, Segment
HAVING Order_Count = (
    SELECT MAX(Order_Count)
    FROM (
        SELECT State, Segment, COUNT(*) AS Order_Count
        FROM superstore_final_dataset
        GROUP BY State, Segment
    ) AS t
    WHERE t.State = superstore_final_dataset.State
)
ORDER BY State;
"""
cursor.execute(query1)
result1 = cursor.fetchall()

# Print the result
if result1:
    for row in result1:
        state = row[0]
        Segment = row[1]
        order_Count = row[2]
        print(f"The  {state} state with {Segment} segment places the highest number of orders {order_Count} .")
else:
    print("No data found.")
    
query2="""
SELECT State, Segment, MAX(Sales) AS Largest_Order
FROM superstore_final_dataset
GROUP BY State, Segment
HAVING Largest_Order = (
    SELECT MAX(Largest_Order)
    FROM (
        SELECT State, Segment, MAX(Sales) AS Largest_Order
        FROM superstore_final_dataset
        GROUP BY State, Segment
    ) AS t
    WHERE t.State = superstore_final_dataset.State
)
ORDER BY State;
"""
cursor.execute(query2)
result2 = cursor.fetchall()

# Print the result
if result2:
    for row in result2:
        state = row[0]
        Segment = row[1]
        Largest_orders = row[2]
        print(f"The  {state} state with {Segment} segment places the largest invidual orders of {Largest_orders} .")
else:
    print("No data found.")

The  Alabama state with Corporate segment places the highest number of orders 26 .
The  Arizona state with Consumer segment places the highest number of orders 94 .
The  Arkansas state with Consumer segment places the highest number of orders 36 .
The  California state with Consumer segment places the highest number of orders 857 .
The  Colorado state with Consumer segment places the highest number of orders 82 .
The  Connecticut state with Consumer segment places the highest number of orders 31 .
The  Delaware state with Consumer segment places the highest number of orders 34 .
The  District of Columbia state with Home Office segment places the highest number of orders 1 .
The  Florida state with Consumer segment places the highest number of orders 149 .
The  Georgia state with Consumer segment places the highest number of orders 71 .
The  Idaho state with Corporate segment places the highest number of orders 9 .
The  Illinois state with Consumer segment places the highest number of orders 228 .
The  Indiana state with Consumer segment places the highest number of orders 57 .
The  Iowa state with Corporate segment places the highest number of orders 9 .
The  Kansas state with Corporate segment places the highest number of orders 7 .
The  Kentucky state with Consumer segment places the highest number of orders 62 .
The  Louisiana state with Consumer segment places the highest number of orders 17 .
The  Maine state with Corporate segment places the highest number of orders 5 .
The  Maryland state with Corporate segment places the highest number of orders 38 .
The  Massachusetts state with Consumer segment places the highest number of orders 47 .
The  Michigan state with Consumer segment places the highest number of orders 111 .
The  Minnesota state with Consumer segment places the highest number of orders 46 .
The  Mississippi state with Consumer segment places the highest number of orders 20 .
The  Missouri state with Consumer segment places the highest number of orders 24 .
The  Montana state with Home Office segment places the highest number of orders 9 .
The  Nebraska state with Consumer segment places the highest number of orders 18 .
The  Nevada state with Consumer segment places the highest number of orders 12 .
The  New Hampshire state with Home Office segment places the highest number of orders 11 .
The  New Jersey state with Consumer segment places the highest number of orders 38 .
The  New Mexico state with Consumer segment places the highest number of orders 14 .
The  New York state with Consumer segment places the highest number of orders 523 .
The  North Carolina state with Consumer segment places the highest number of orders 115 .
The  North Dakota state with Consumer segment places the highest number of orders 5 .
The  Ohio state with Consumer segment places the highest number of orders 224 .
The  Oklahoma state with Consumer segment places the highest number of orders 29 .
The  Oregon state with Consumer segment places the highest number of orders 51 .
The  Pennsylvania state with Consumer segment places the highest number of orders 229 .
The  Rhode Island state with Home Office segment places the highest number of orders 20 .
The  South Carolina state with Consumer segment places the highest number of orders 21 .
The  South Dakota state with Corporate segment places the highest number of orders 10 .
The  Tennessee state with Consumer segment places the highest number of orders 88 .
The  Texas state with Consumer segment places the highest number of orders 457 .
The  Utah state with Consumer segment places the highest number of orders 28 .
The  Virginia state with Consumer segment places the highest number of orders 100 .
The  Washington state with Consumer segment places the highest number of orders 195 .
The  West Virginia state with Home Office segment places the highest number of orders 3 .
The  Wisconsin state with Corporate segment places the highest number of orders 40 .
The  Wyoming state with Home Office segment places the highest number of orders 1 .
The  Alabama state with Corporate segment places the largest invidual orders of 3040.0 .
The  Arizona state with Consumer segment places the largest invidual orders of 1879.96 .
The  Arkansas state with Consumer segment places the largest invidual orders of 1793.98 .
The  California state with Consumer segment places the largest invidual orders of 8187.65 .
The  Colorado state with Home Office segment places the largest invidual orders of 2549.99 .
The  Connecticut state with Corporate segment places the largest invidual orders of 1133.35 .
The  Delaware state with Consumer segment places the largest invidual orders of 10500.0 .
The  District of Columbia state with Home Office segment places the largest invidual orders of 33.92 .
The  Florida state with Home Office segment places the largest invidual orders of 22638.5 .
The  Georgia state with Consumer segment places the largest invidual orders of 6354.95 .
The  Idaho state with Corporate segment places the largest invidual orders of 1128.39 .
The  Illinois state with Consumer segment places the largest invidual orders of 2735.95 .
The  Indiana state with Corporate segment places the largest invidual orders of 17499.9 .
The  Iowa state with Home Office segment places the largest invidual orders of 1408.1 .
The  Kansas state with Corporate segment places the largest invidual orders of 360.38 .
The  Kentucky state with Consumer segment places the largest invidual orders of 3080.0 .
The  Louisiana state with Consumer segment places the largest invidual orders of 1665.62 .
The  Maine state with Corporate segment places the largest invidual orders of 437.85 .
The  Maryland state with Consumer segment places the largest invidual orders of 2541.98 .
The  Massachusetts state with Corporate segment places the largest invidual orders of 1737.18 .
The  Michigan state with Consumer segment places the largest invidual orders of 9892.74 .
The  Minnesota state with Consumer segment places the largest invidual orders of 9449.95 .
The  Mississippi state with Consumer segment places the largest invidual orders of 2430.08 .
The  Missouri state with Corporate segment places the largest invidual orders of 4899.93 .
The  Montana state with Home Office segment places the largest invidual orders of 2999.95 .
The  Nebraska state with Consumer segment places the largest invidual orders of 2479.96 .
The  Nevada state with Home Office segment places the largest invidual orders of 4535.98 .
The  New Hampshire state with Home Office segment places the largest invidual orders of 2249.91 .
The  New Jersey state with Corporate segment places the largest invidual orders of 9099.93 .
The  New Mexico state with Consumer segment places the largest invidual orders of 883.84 .
The  New York state with Home Office segment places the largest invidual orders of 11200.0 .
The  North Carolina state with Corporate segment places the largest invidual orders of 7999.98 .
The  North Dakota state with Consumer segment places the largest invidual orders of 704.76 .
The  Ohio state with Consumer segment places the largest invidual orders of 2025.36 .
The  Oklahoma state with Consumer segment places the largest invidual orders of 1805.88 .
The  Oregon state with Corporate segment places the largest invidual orders of 650.352 .
The  Pennsylvania state with Consumer segment places the largest invidual orders of 8399.98 .
The  Rhode Island state with Home Office segment places the largest invidual orders of 5399.91 .
The  South Carolina state with Consumer segment places the largest invidual orders of 1690.04 .
The  South Dakota state with Corporate segment places the largest invidual orders of 416.32 .
The  Tennessee state with Home Office segment places the largest invidual orders of 2314.12 .
The  Texas state with Consumer segment places the largest invidual orders of 8159.95 .
The  Utah state with Home Office segment places the largest invidual orders of 1499.95 .
The  Virginia state with Consumer segment places the largest invidual orders of 8749.95 .
The  Washington state with Consumer segment places the largest invidual orders of 14000.0 .
The  West Virginia state with Consumer segment places the largest invidual orders of 673.344 .
The  Wisconsin state with Consumer segment places the largest invidual orders of 2807.84 .
The  Wyoming state with Home Office segment places the largest invidual orders of 1603.14 .

Find all the customers who individually ordered on 3 consecutive days where each day’s total order was more than 50 in value. **

In [113]:
query="""
SELECT DISTINCT t1.Customer_Name
FROM superstore_final_dataset t1
JOIN superstore_final_dataset t2 ON t2.Customer_Name = t2.Customer_Name 
JOIN superstore_final_dataset t3 ON t3.Customer_Name = t2.Customer_Name 
WHERE t1.Order_Date = DATE_SUB(DATE(t2.Order_Date), INTERVAL 1 DAY) 
AND t2.Order_Date = DATE_SUB(DATE(t3.Order_Date), INTERVAL 1 DAY) 
AND t1.Sales > 50 
AND t2.Sales > 50 
AND t3.Sales > 50
"""

cursor.execute(query)
results=cursor.fetchall()
print("the customers who individually ordered on 3 consecutive days where each day’s total order was more than 50 in value")
if results:
    for row in results:
        customer_name = row[0]
        print(f" {customer_name} ")
else:
    print("No data found.")

the customers who individually ordered on 3 consecutive days where each day’s total order was more than 50 in value
 Anne McFarland
 Darrin Sayre
 Sanjit Chand
 Phillip Breyer
 Damala Kotsonis
 Roland Murray
 Sally Hughsby
 Frank Carlisle
 Don Weiss
 Pamela Coakley
 Paul Prost
 Maxwell Schwartz
 Kalyca Meade
 Arianne Irving
 Aaron Bergman
 Scott Williamson
 Scot Wooten
 Roland Fjeld
 Trudy Brown

Find the maximum number of days for which total sales on each day kept rising.**

In [115]:
query="""
WITH daily_sales AS (
  SELECT Order_Date, SUM(Sales) AS total_sales
  FROM superstore_final_dataset
  GROUP BY Order_Date
  ORDER BY Order_Date
),
rising_sales AS (
  SELECT t1.Order_Date, COUNT(*) AS days_rising
  FROM daily_sales t1
  JOIN daily_sales t2 ON t1.total_sales <= t2.total_sales AND t1.Order_Date < t2.Order_Date
  GROUP BY t1.Order_Date
  ORDER BY days_rising DESC, t1.Order_Date DESC
)
SELECT days_rising, MIN(Order_Date) AS start_date, MAX(Order_Date) AS end_date
FROM rising_sales
WHERE days_rising > 1
GROUP BY days_rising
ORDER BY days_rising DESC
LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchall()
if result:
    for row in result:
        days_rising = row[0]
        Start_date = row[1]
        End_date = row[2]
        print(f"The  maximum number of days for which total sales on each day kept rising {days_rising} from start_date {Start_date} to end_date {End_date} .")
else:
    print("No data found.")

The  maximum number of days for which total sales on each day kept rising 1056 from start_date 2015-01-10 to end_date 2015-01-10 .

In [116]:
cursor.close()
connection.close()